.project-container {
    cursor: pointer;
    position: relative;
}

.project-image {
    width: 100%;
}

.project-sub-container div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    padding: 3rem;
}

.project-sub-container div h2 {
    color: var(--secondary);
    display: none;
    font-size: 4rem;
}

.project-sub-container div p {
    font-size: 1.25rem;
    color: var(--secondary);
    text-align: center;
    display: none;
}

.project-sub-container div a {
    display: none;
    color: var(--secondary);
    font-size: 2rem;
    text-decoration: none;
}

.project-sub-container div a:hover {
    text-decoration: underline;
}


.project-container:hover.project-container div {
    height: 100%;
    transition: 0.2s;
}

.project-container:hover.project-container div p,
.project-container:hover.project-container div h2,
.project-container:hover.project-container div a {
    display: block;
}

@media screen and (max-width: 1024px) {
    .project-sub-container div {    
        padding: 3rem;
    }
    
    .project-sub-container div h2 {
        font-size: 2rem;
    }
    
    .project-sub-container div p {
        font-size: 1.25rem;
    }
    
    .project-sub-container div a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 850px) {
    .project-sub-container div {    
        padding: 2rem;
    }
    
    .project-sub-container div h2 {
        font-size: 1.25rem;
    }
    
    .project-sub-container div p {
        font-size: 1rem;
    }
    
    .project-sub-container div a {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 640px) {
    .project-sub-container div {    
        padding: 2rem;
    }
    
    .project-sub-container div h2 {
        font-size: 1.25rem;
    }
    
    .project-sub-container div p {
        font-size: 0.75rem;
    }
    
    .project-sub-container div a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {    
    .project-sub-container div h2 {
        font-size: 1rem;
    }
    
    .project-sub-container div p {
        font-size: 0.5rem;
    }
    
    .project-sub-container div a {
        font-size: 0.75rem;
    }
}