.calebq__work-main {
    margin-top: 5rem;
    padding: 0 3rem;
}

.calebq__work-header {
    margin-bottom: 1.5rem;
    font-size: 2.125rem;
    font-family: var(--headers);
    letter-spacing: 0.25rem;
}

.calebq__work-paragraph {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
}

.calebq__work-header span {
    color: var(--secondary);
}

.calebq__work-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.calebq__work-sub-container {
    display: grid;
    gap: 5rem;
}

.brand-identity {
    width: 350px;
    height: 190px;
    background-color: var(--secondary);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 2rem;
    position: relative;

    display: grid;
    gap: 0.5rem;
}

.brand-identity::before {
    content: '';
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1; 

    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border: 5px solid var(--secondary);

}

.brand-identity h2 {
    font-size: 1.65rem;
}

.brand-identity span {
    font-size: 1.125rem;
}

.project-folder {
    width: 350px;
    height: 190px;
    background-color: var(--secondary);
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 2rem;
    position: relative;
    cursor: pointer;

    display: grid;
    gap: 0.5rem;
}

.project-folder::before {
    content: '';
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    background-color: #000000;
    z-index: -1; 

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 5px solid var(--secondary);
}

.project-folder:hover::before {
    top: 15%;
    transition: 0.2s;
}

.project-folder h2 {
    font-size: 1.65rem;
    color: #000000;
}

.project-folder span {
    font-size: 1.125rem;
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .calebq__work-header {
        font-size: 2rem;
    }

    .calebq__work-paragraph {
        font-weight: 400;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;
    }

    .calebq__work-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calebq__work-sub-container {
        display: flex;
        gap: 2rem;
    }

    .brand-identity, 
    .project-folder {
        gap: 0.25rem;
        flex-grow: 1;
    }

    .brand-identity h2, 
    .project-folder h2 {
        font-size: 1.125rem;
    }

    .brand-identity span, 
    .project-folder span {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 768px) {
    .calebq__work-main {
        padding: 0 1.5rem;
    }

    .calebq__work-sub-container {
        flex-direction: column;
        gap: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .calebq__work-paragraph {
        text-align: center;
    }

    .calebq__work-header {
        display: none;
    }

    .calebq__work-paragraph {
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
}

@media screen and (max-width: 400px) {
    .calebq__work-header {
        font-size: 1.0125rem;
    }

    .calebq__work-main {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 320px) {
    .calebq__work-paragraph {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }
}

@media screen and (min-width: 1441px) {
    .calebq__work-header {
        font-size: 3rem;
    }

    .calebq__work-paragraph {
        font-size: 1.5rem;
    }
}
