.calebq__about-main {
    padding: 3rem;
    background: linear-gradient(to right,
            var(--secondary) 0%,
            var(--secondary) 60%,
            var(--body) 60%,
            var(--body) 100%);
}

.calebq__about-header {
    margin-bottom: 3rem;
    font-size: 2.125rem;
    font-family: var(--headers);
    letter-spacing: 0.25rem;
}

.calebq__about-header span {
    color: var(--body);
}

.calebq__about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.calebq__about-image {
    width: 31.25rem;
}

.calebq__article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calebq__about-button {
    width: 20%;
    padding: 1rem 0;

    font-weight: 700;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid var(--body);
    cursor: pointer;
    position: relative;

    z-index: 1;
}

.calebq__about-button::after {
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
}

.calebq__about-button:hover::after {
    content: '';
    display: block;
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
    z-index: -1;
}

.calebq__article p {
    font-size: 1.25rem;
    line-height: 1.8125rem;
}

.calebq__about-main {
    padding: 3rem;
    background: linear-gradient(to right,
            var(--secondary) 0%,
            var(--secondary) 60%,
            var(--body) 60%,
            var(--body) 100%);

}

.calebq__about-header {
    margin-bottom: 3rem;
    font-size: 2.125rem;
    font-family: var(--headers);
    letter-spacing: 0.25rem;
}

.calebq__about-header span {
    color: var(--body);
}

.calebq__about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.calebq__about-image {
    width: 31.25rem;
}

.calebq__article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calebq__about-button {
    width: 20%;
    padding: 1rem 0;

    font-weight: 700;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid var(--body);
    cursor: pointer;
    position: relative;

    z-index: 1;
}

.calebq__about-button::after {
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
}

.calebq__about-button:hover::after {
    content: '';
    display: block;
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
    z-index: -1;
}

.calebq__article p {
    font-size: 1.25rem;
    line-height: 1.8125rem;
}

@media screen and (max-width: 1024px) {
    .calebq__about-container {
        gap: 1rem;
    }

    .calebq__about-header {
        font-size: 2rem;
    }

    .calebq__about-image {
        width: 25rem;
    }

    .calebq__article p {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .calebq__about-button {
        width: 40%;
        font-size: 0.8rem;
        border: 1px solid black;
    }
}

@media screen and (max-width: 768px) {
    .calebq__about-main {
        padding: 1.5rem;
    }

    .calebq__about-container {
        gap: 1rem;
        align-items: start;
    }

    .calebq__about-header {
        font-size: 1.5rem;
    }

    .calebq__article p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .calebq__about-main {
        padding: 3rem;
        background: linear-gradient(to bottom,
                var(--secondary) 0%,
                var(--secondary) 60%,
                var(--body) 60%,
                var(--body) 100%);
    }

    .calebq__about-container {
        gap: 1rem;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .calebq__about-header {
        display: none;
    }

    .calebq__about-image {
        width: 20rem;
    }
}

@media screen and (max-width: 400px) {
    .calebq__about-main {
        padding: 1rem;
    }

    .calebq__about-container {
        margin-top: 3rem;
    }

    .calebq__article p {
        font-size: .8rem;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 320px) {
    .calebq__about-image {
        width: 18rem;
    }
}

@media screen and (min-width: 1441px) {
    .calebq__about-main {
        padding: 3rem;
    }

    .calebq__about-header {
        font-size: 3.125rem;
    }

    .calebq__article p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .calebq__about-image {
        width: 42.75rem;
    }
}
